<div class="message-container">
  <div *ngIf="amISender; else recive" class="message send-message">
    <div class="message-content-container">
      <span class="message-content">{{ message.contentText }}</span>
      <div class="time-status-container">
        <div class="status">
          <mat-icon class="msg-stuats msg-stuats-send">check</mat-icon>
          <mat-icon *ngIf="message.seen" class="msg-stuats msg-stuats-recive">check</mat-icon>
        </div>
        <div class="sending-time"><span class="time">{{convertedDate}}</span></div>
      </div>
    </div>
  </div>
  <ng-template #recive>
    <div class="message receive-message">
      <div class="message-content-container">
        <span class="message-content">{{ message.contentText }}</span>
        <div class="sending-time"><span class="time">{{convertedDate}}</span></div>
      </div>
    </div>
  </ng-template>
</div>
