<div class="message-area" *ngIf="!!conversetion; else conversationNotSelected">
  <div class="message-bar">
    <img class="profile-pic" src="../../../assets/noPic.svg" />
    <div class="phone-and-title">
      <span class="title">{{ conversetion.title }}</span>
      <span class="phone">{{
        conversetion.lastMessage.reciverPhoneNumber
      }}</span>
    </div>
  </div>
  <div class="chat-area">
    
    <div class="chat-massage-area" #chatMessageArea>
      <div class="empty-space"></div>
      <app-massege
      *ngFor="let msg of chatMessages"
      [message]="msg"></app-massege>
    </div>

    <div class="send-massage-area">
      <input
        type="text"
        class="massage-input"
        placeholder="Type a message"
        (keyup.enter)="senMassege()"
        [(ngModel)]="messageText"
      />
      <mat-icon class="send-icon" (click)="senMassege()">send</mat-icon>
    </div>
  </div>
</div>

<ng-template #conversationNotSelected>
  <div class="message-area">
    <div class="start-chat-area">
      <img src="../../../../assets/start-chat.svg" alt="Start Chat" />
      <div class="icon-text">
        <img
          class="chat-icon .hvr-float"
          src="../../../../assets/chat.svg"
          alt="chat"
        />
        <h3 class="start-chat">Start a conversation ...</h3>
      </div>
    </div>
  </div>
</ng-template>
