.message-area {
  background-color: #d7cfcc;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

  .message-bar {
    width: 100%;
    height: 10%;
    background-color: #ededed;
    border-bottom: 1px solid rgba(169, 169, 169, 0.548);
    border-top-right-radius: 10px;
    display: flex;

    .profile-pic {
      width: 3rem;
      margin-left: 2rem;
      margin-right: 1rem;
    }
    .phone-and-title {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
    }
  }


  .chat-area{
    background-image: url("../../../../assets/masseg-area-background.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: #cccccc;
  }

  .start-chat-area {
    background-color: #ededed;

    .icon-text{
      display: flex;
      justify-content: center;
      align-items: center;

      .start-chat{
        margin-left: 1rem;
      }

      .chat-icon{
        height: 5rem;
        
      }
        }
  }

  .chat-area,.start-chat-area {
    align-items: center;  
  
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

   

    .chat-icon {
      width: 8vw;
      cursor: pointer;
    }

    .chat-massage-area {
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .massage {
        display: flex;
      }

      .send-massage {
        justify-content: flex-end;

        .massage-container {
          background-color: #dcf8c6;
          padding: 1rem 0.5rem;
          margin-right: 1rem;
          border-radius: 5px;
          max-width: 80%;
        }
      }
      .receive-message {
        .massage-container {
          background-color: #dddddd;
          padding: 1rem 0.5rem;
          margin-left: 1rem;
          border-radius: 5px;
          max-width: 80%;
        }
      }

      .recive-massage {
        text-align: left;
      }
    }

    .send-massage-area {
      display: flex;
      background-color: #ededed;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      width: 100%;
      height: 10%;
      border-bottom-right-radius: 10px;

      .send-icon {
        margin-left: 9px;
        color: rgb(88, 88, 88);
        cursor: pointer;
      }
      .massage-input {
        width: calc(100% - 90px);
        height: 80%;
        border-radius: 3rem;
        border: 1px solid lightgray;
        padding-left: 1rem;
        font-size: 1.1rem;

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-size: 0.9rem;
        }
      }
    }
  }

  .start-chat {
    font-size: 2rem;
  }
}

