 <div class="password-form">
        <div class="header">
            <p>Reset password</p>
        </div>
        <form [formGroup]="passwordForm" (submit)="onSubmit()">
            <label for="password">New password:</label>
            <input class="password" type="password" formControlName="Newpassword" placeholder="newpassword">
            <span *ngIf="formControl['newpassword'].touched && formControl['newpassword'].hasError('hasNumber')">password be 8 charecters!</span>
            <label for="password">Confirm password:</label>
            <input class="password" type="password" formControlName="Confirmpassword" placeholder="confirmpassword">
            <span *ngIf="formControl['confirmpassword'].touched && formControl['confirmpassword'].hasError('passwordsDoNotMatch')">password do not match!</span>
            <input class="password btn" type="submit" value="Reset password">
        </form>
    </div>
