 <div class="password-form">
        <div class="header">
            <p>Reset password</p>
        </div>
        <form [formGroup]="passwordForm" (submit)="onSubmit()">
            <label for="password">New password:</label>
            <input class="password" type="password" formControlName="newPassword" placeholder="newPassword">
            <span *ngIf="getFromControl['newPassword'].touched && getFromControl['newPassword'].hasError('hasNumber')">password be 8 charecters!</span>
            <label for="password">Confirm password:</label>
            <input class="password" type="password" formControlName="confirmPassword" placeholder="confirmPassword">
            <span *ngIf="getFromControl['confirmPassword'].touched && getFromControl['confirmPassword'].hasError('passwordsDoNotMatch')">password do not match!</span>
            <input class="password btn" type="submit" value="Reset password" [disabled]="passwordForm.invalid" [routerLink]="['/login']">
        </form>
    </div>
