<div class="massage-container">
  <div class="massage send-massage">
    <div class="massage-content-container">
      <span class="massage-content">Hi there</span>
      <div class="time-status-container">
        <div class="status">
            <mat-icon class="msg-stuats msg-stuats-one">check</mat-icon>
          </div>
        <div class="sending-time"><span class="time">17:40</span></div>
       
      </div>
    </div>
   
  </div>

  <div class="massage receive-message">
    <div class="massage-content-container">
      <span class="massage-content">Hello!</span>
      <div class="sending-time"><span class="time">17:40</span></div>
    </div>
  
  </div>
</div>
