login
<div class="login-form">
  <div class="form-header">
    <p> Login </p>
  </div>
  <form [formGroup] = "loginForm" (submit)="onSubmit()">
    <input class="input-txt" type="text" formControlName="phoneNumber" placeholder="phone(09xx-xxx-xxxx)">
    <span class="txt" *ngIf="formControl['phoneNumber'].touched && formControl['phoneNumber'].hasError('hasCodeNumber')">phonenumber must be start with 09.</span>
    <span class="txt" *ngIf="formControl['phoneNumber'].touched && formControl['phoneNumber'].hasError('hasElevenNumber')">phonenumber must be 11 number!</span>
    <input class="input-txt" type="password" formControlName="password" placeholder="password">
    <span class="txt" *ngIf="formControl['password'].touched && formControl['password'].hasError('hasNumber')">password be 8 charecters!</span>
    <input class="input-txt btn" type="submit" value="Login">
    <div class="pass-txt"><a href="#">Forget password?</a></div>
    <div class="account-txt"><a href="#"> Create New account </a></div>
  </form>
</div>
