.main-container {
    background : linear-gradient(0deg, #dfdfdf 80%, #009688 80%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

